<!DOCTYPE html>

<html>

<head>
    <title>Agregar Local</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">
</head>

<body>

    <form action="#" th:action="@{/local/update}" th:object="${local}" method="post">
        <input type="hidden" th:field="*{idLocal}" />
        <p>
            Direccion: <input type="text" th:field="*{direccion}" />
        </p>
        <p>
            Latitud: <input type="number" step="any" th:field="*{latitud}" />
        </p>
        <p>
            Longitud: <input type="number" step="any" th:field="*{longitud}" />
        </p>
        <p>
            Telefono: <input type="text" th:field="*{telefono}" />
        </p>
        <input type="submit" value="Editar" />
    </form>
    <form action="#" th:action="@{/local/delete/{id}(id=${local.idLocal})}" method="post">
        <input type="submit" value="Eliminar local" />
    </form>
    <form action="#" th:action="@{/local/atras}" method="post">
        <input type="submit" value="Volver" />
    </form>

</body>

</html>