<!DOCTYPE html>
<html>

<head>
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<meta charset="UTF-8">
</head>

<body>
<nav id="agregarTitulo">
<h1>
<a id="unla" href="/index">UNLa</a> 
Agregar Producto
</h1>
</nav>
<div class="card bg-light col-md-7 mt-5 p-3 mx-auto">
<form action="#" th:action="@{/producto/create}" th:object="${producto}" method="post">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" th:field="*{nombre}" id="dato">
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <input type="text" class="form-control" th:field="*{descripcion}" id="dato">
  </div>
    <div class="form-group">
    <label for="precioUnitario">Precio</label>
    <input type="text" class="form-control" th:field="*{precioUnitario}" id="dato">
  </div>
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>
</div>
</body>

</html>