
<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="/css/estilos.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>



<!-- Navigation -->
<nav class="site-header sticky-top py-1">
	<div
		class="container d-flex flex-column flex-md-row justify-content-between">
		<a class="py-2" href="#"> <svg xmlns="http://www.w3.org/2000/svg"
				width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round"
				stroke-linejoin="round" class="d-block mx-auto">
				<circle cx="12" cy="12" r="10"></circle>
				<line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
				<line x1="9.69" y1="8" x2="21.17" y2="8"></line>
				<line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
				<line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
				<line x1="14.31" y1="16" x2="2.83" y2="16"></line>
				<line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
		</a> <a class="py-2 d-md-inline-block" href="/client">Adm. Clientes</a> <a
			class="py-2 d-md-inline-block" href="#">Adm.Personas</a> <a
			class="py-2 d-md-inline-block" href="#">Adm.Locales</a>
	</div>
</nav>

<h2>Administracion de Locales</h2>
<table class="table table-bordered table-stripped table-hover table-sm">


	<thead class="thead-dark">
		<tr>
			<th>Telefono</th>
			<th>Direccion</th>
			<th>Latitud</th>
			<th>Longitud</th>
			<th colspan="2" class="text-center"><a href="/store/new"
				class="btn btn-outline-light px-4"> <i
					class="far fa-plus-square fa-lg mr-2"></i> Agregar
			</a></th>

		</tr>
	<tbody>
		<tr th:each="local : ${locales}">
			<td><span th:text="${local.telefono}" /></td>
			<td><span th:text="${local.direccion}" /></td>
			<td><span th:text="${local.latitud}" /></td>
			<td><span th:text="${local.longitud}" /></td>
			<td><a th:href="@{/local/{id}(id=${local.id})}"
				class="btn btn-outline-secondary px-4"><i
					class="far fa-edit fa-lg mr-1"></i> Ver</a></td>




		</tr>
	</tbody>
</table>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</html>