
<html>
<head>
<link rel="stylesheet" href="/css/estilos.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>

<body>
	<nav class="site-header sticky-top py-1">
		<div
			class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="py-2" href="#"> <svg xmlns="http://www.w3.org/2000/svg"
					width="24" height="24" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round"
					stroke-linejoin="round" class="d-block mx-auto">
					<circle cx="12" cy="12" r="10"></circle>
					<line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
					<line x1="9.69" y1="8" x2="21.17" y2="8"></line>
					<line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
					<line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
					<line x1="14.31" y1="16" x2="2.83" y2="16"></line>
					<line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
			</a> <a class="py-2 d-md-inline-block" href="/client">Adm. Clientes</a> <a
				class="py-2 d-md-inline-block" href="/person">Adm.Personas</a> <a
				class="py-2 d-md-inline-block" href="/store">Adm.Locales</a>
		</div>
	</nav>
	<h2>Actualizacion de Locales</h2>

	<div class="card bg-light col-md-7 mt-5 p-3 mx-auto">
		<form action="#" th:action="@{/local/update}" th:object="${local}"
			method="post">
			<input type="hidden" th:field="*{id}" />

			<div class="form-group">
				<label for="name">Telefono</label> <input type="text"
					class="form-control" name="telefono" value="" th:field="*{telefono}"
					placeholder="Escribi su telefono..." />
			</div>

			<div class="form-group">
				<label for="address">Ubicacion</label> <input type="text"
					class="form-control" name="direccion" th:field="*{direccion}"
					placeholder="Escribi su direccion..." />
			</div>

			<div class="form-group">
				<label for="latitude">Latitud</label> <input type="text"
					class="form-control" name="latitud" value=""
					th:field="*{latitud}" placeholder="Escribi la latitud..." />
			</div>

			<div class="form-group">
				<label for="latitude">Longitud</label> <input type="text"
					class="form-control" name="longitud" value=""
					th:field="*{longitud}" placeholder="Escribi la longitud..." /> <br>

				<input class="update" type="submit" value="Edit Local" />
		</form>

		<form action="#" th:action="@{/local/delete/{id}(id=${local.id})}"
			method="post">
			<br>
			<input class="update" type="submit" value="Borrar Local" />
		</form>
	</div>
</body>

</html>