<!DOCTYPE html>
<html>

<head>
    <title>Actualizar Cliente</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">
</head>

<body>

    <form action="#" th:action="@{/cliente/update}" th:object="${cliente}" method="post">
        <input type="hidden" th:field="*{idPersona}" />
        <p>
            Nombre: <input type="text" th:field="*{nombre}" />
        </p>
        <p>
            Apellido: <input type="text" th:field="*{apellido}" />
        </p>
        <p>
            Fecha de Nacimiento: <input type="date" th:field="*{fechaNacimiento}" />
        </p>
        <p>
            DNI: <input type="text" th:field="*{dni}" />
        </p>
        <p>
            Email: <input type="text" th:field="*{email}" />
        </p>
        <input type="submit" value="Editar" />
    </form>

    <br>

    <form action="#" th:action="@{/cliente/delete/{id}(id=${cliente.idPersona})}" method="post">
        <input type="submit" value="Eliminar cliente" />
    </form>

    <br>

    <form action="#" th:action="@{/cliente/back}" method="post">
        <input type="submit" value="Volver" />
    </form>

</body>

</html>