<!DOCTYPE html>
<html>

<head>
    <title>Local</title>
<link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<meta charset="UTF-8"></head>
<body>
<h1 id="header">
<a id="unla" href="/index">UNLa</a> 
Pedidos
</h1>
<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}" th:text="${mensaje}" class="alert"> </div>
    <table class="table">
    	<thead class="thead-dark">
            <tr class="bg-info">
            	<th>Id Pedido</th>
                <th>Fecha de Pedido</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Local</th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="pedido : ${pedido}">
            	<td><span th:text="${pedido.idPedido}" /></td>
                <td><span th:text="${pedido.fechaPedido}" /></td>
                <td><span th:text="${pedido.producto.nombre}" /></td>
                <td><span th:text="${pedido.cantidad}" /></td>
                <td><span th:text="${pedido.local.direccion}" /></td>
                <td><a th:href="@{/pedido/{id}(id=${pedido.idPedido})}">Modificar</a></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/pedido/new">Agregar</a>

</body>

</html>