<!DOCTYPE html>
<html>

<head>
<title>Agregar Pedido</title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<meta charset="UTF-8">
</head>

<body>
	<div id="agregarTitulo">
		<h1>
			<a id="unla" href="/index">UNLa</a> Agregar Pedido
		</h1>
	</div>
	<div class="card bg-light col-md-7 mt-5 p-3 mx-auto">
		<form action="#" th:action="@{/pedido/create}" th:object="${pedido}"
			method="post">

			<div class="form-group">
				<label for="exampleFormControlSelect1">Producto</label> <select
					class="form-control" id="exampleFormControlSelect1"
					placeholder="Producto" th:field="*{producto.idProducto}">
					<option th:each="p : ${producto}" th:value="${p.idProducto}"
						th:text="${p.nombre}"></option>
				</select>
			</div>

			<div class="form-group">
				<label for="longitud">Cantidad</label> <input type="text"
					class="form-control" th:field="*{cantidad}" id="dato">
			</div>

			<div class="form-group">
				<label for="cliente">Cliente</label> 
				<select
					class="form-control" placeholder="Cliente" th:field="*{cliente.idPersona}">
					<option th:each="c : ${cliente}" th:value="${c.idPersona}"
						th:text="${c.nombre} +' '+ ${c.apellido}"></option>
				</select>
			</div>

			<div class="form-group">
				<label for="vendedor">Vendedor</label>
					<select 
					class="form-control" 
					placeholder="Empleado" th:field="*{vendedor.idPersona}">
						<option th:each="e : ${empleado}" th:value="${e.idPersona}"
							th:text="${e.nombre} +' '+ ${e.apellido}"></option>
					</select>
			</div>

			<div class="form-group">
				<strong>Estado</strong> <input type="checkbox"
					th:field="*{aceptado}" />
			</div>

			<input type="hidden" th:field="*{vendedor.Local.idLocal}" />
			
			<div class="text-center">
				<input type="submit" class="btn btn-primary button" value="Agregar" />
			</div>
			
		</form>
</body>

</html>