<!DOCTYPE html>
<html>
<head>
<title>Example</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css">
</head>
<body>

	<form action="#" th:action="@{/producto/update}"
	th:object="${producto}" method="post">
	<input type="hidden" th:field="*{idProducto}" />
	</p>
		<p>
		Nombre: <input type="text" th:field="*{nombre}" />
	</p>
	<p>
		Descripcion: <input type="text" th:field="*{descripcion}" />
	</p>
	<p>
		Precio: <input type="text" th:field="*{precioUnitario}" />
	</p>
	<input type="hidden" th:field="*{fechaAlta}" /> <input type="submit"
		value="Edit" />
</form>

<form action="#"
	th:action="@{/producto/delete/{id}(id=${producto.idProducto})}"
	method="post">
	<input type="submit" value="Eliminar producto" />
</form>
<form action="#" th:action="@{/producto/back}" method="post">
	<input type="submit" value="Volver" />
</form>


</body>

</html>

