<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<title>Local</title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<meta charset="UTF-8">
</head>
<div layout:fragment="content">
	<body id="pedidos">
		<h1 id="header">Pedidos</h1>
		<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
			th:if="${mensaje != null}" th:text="${mensaje}" class="alert">
		</div>
		<table class="table">
			<thead class="thead-dark">
				<tr class="bg-info">
					<th>Fecha de Pedido</th>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>Precio Unitario</th>
					<th>Precio Total</th>
					<th>Local</th>
					<th>Vendedor</th>
					<th>Cliente</th>
					<th>Resuelto</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pedido : ${pedido}">
					<td><span th:text="${pedido.fechaPedido}" /></td>
					<td style="text-color: white"><span
						th:text="${pedido.producto.nombre}" /></td>
					<td><span th:text="${pedido.cantidad}" /></td>
					<td><span th:text="${pedido.producto.precioUnitario}" /></td>
					<td><span th:text="${pedido.precioTotal}" /></td>
					<td><span th:text="${pedido.local.direccion}" /></td>
					<td><span th:text="${pedido.empleado.nombre} +' ' + ${pedido.empleado.apellido}" /></td>
					<td><span th:text="${pedido.cliente.nombre} +' ' + ${pedido.cliente.apellido}" /></td>
					<td><span th:text="${pedido.resuelto}" /></td>

					<td>
						<!-- IF -->
						<div th:if="${pedido.resuelto}==true">
							<form class="mb-2"
								th:action="@{/pedido/generarVenta/{id}(id=${pedido.idPedido})}"
								method="post">
								<button type="submit" class="btn btn-success">
									Generar venta&nbsp;<i class="fa fa-check"></i>
								</button>
							</form>
						</div> 
						<!-- ELSE -->
						<div th:unless="${pedido.resuelto}">
							<form class="mb-2"
								th:action="@{/pedido/solicitarLocal/{id}(id=${pedido.idPedido})}"
								method="post">
								<button type="submit" class="btn btn-success">
									Solicitar a otro local&nbsp;<i class="fa fa-check"></i>
								</button>
							</form>
						</div>

					</td>


					<td><a class="btn btn-warning"
						th:href="@{/pedido/{id}(id=${pedido.idPedido})}">Modificar</a></td>

					<td>
						<form action="#"
							th:action="@{/pedido/delete/{id}(id=${pedido.idPedido})}"
							method="post">
							<button type="submit" class="btn btn-danger">Elminar
								Pedido</button>

						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" href="/pedido/new">Agregar</a>

	</body>
</div>
</html>