<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<title>Solicitud Stock</title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<meta charset="UTF-8">
</head>
<div layout:fragment="content">
	<body>
		<h1 id="header">Solicitudes Stock</h1>
		<!-- <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
			th:if="${mensaje != null}" th:text="${mensaje}" class="alert"></div> -->
		<table class="table">
			<thead class="thead-dark">
				<tr class="bg-info">
					<th>Fecha Solicitud Stock</th>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>Aceptado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="solicitudStock : ${solicitudStock}">
					<td><span th:text="${solicitudStock.fechaSolicitudStock}" /></td>
					<td><span th:text="${solicitudStock.producto.nombre}" /></td>
					<td><span th:text="${solicitudStock.cantidad}" /></td>
					<td><span th:text="${solicitudStock.aceptado}" /></td>
					<td><a class="btn btn-warning"
						th:href="@{/solicitudStock/{id}(id=${solicitudStock.idSolicitudStock})}">Modificar</a></td>
					<td>
						<form action="#"
							th:action="@{/solicitudStock/delete/{id}(id=${solicitudStock.idSolicitudStock})}"
							method="post">
							<button type="submit" class="btn btn-danger">Elminar
								Local</button>

						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" href="/solicitudStock/new">Agregar</a>

	</body>
</div>
</html>