<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<title>Reporte de ventas</title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<meta charset="UTF-8">
</head>
<div layout:fragment="content">
<body>

<h1 id="agregarTitulo">Reporte de productos entre fechas</h1>
<div class="card bg-light col-md-7 mt-5 p-3 mx-auto">

	<form action="" th:action="@{/venta/reporteventas}" method="post">

				<div class="form-group">
					<label for="exampleFormControlSelect1">Local</label> <select
						class="form-control" id="exampleFormControlSelect1"
						placeholder="Local" th:field="*{local.idLocal}">
						<option th:each="l : ${locales}" th:value="${l.idLocal}"
							th:text="${l.direccion}"></option>
					</select>
				</div>
       
           <div class="form-group">
            <strong>Desde</strong>
            <input name="since" class="form-control form-control-sm" type="date" required/>
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <strong>Hasta</strong>
            <input name="until" class="form-control form-control-sm" type="date" required/>
            <div class="invalid-feedback"></div>
          </div>
             
		<br>
		 <button type="submit" class="btn btn-primary">
                <i class="far fa-plus-square fa-lg mr-2"></i>
                Mostrar
            </button>
       
	</form>
</div>
</body>
</div>
</html>