<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Ventas</title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<meta charset="UTF-8">
</head>
<div layout:fragment="content">
	<body>
		<h1 id="header">Detalle Ventas</h1>
		<table class="table">
			<thead class="thead-dark">
				<tr class="bg-info">
					<th>IdDetalleVenta</th>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>SubTotal</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="detalleVenta : ${detalleVenta}">
					<td><span th:text="${detalleVenta.idDetalleVenta}" /></td>
					<td><span th:text="${detalleVenta.producto.nombre}" /></td>
					<td><span th:text="${detalleVenta.cantidad}" /></td>
					<td><span th:text="${detalleVenta.precioSubTotal}" /></td>
				</tr>
			</tbody>
		</table>
	</body>
</div>
</html>
